<div class="jumbotron text-center">
  <h1>Welcome to the Robot Factory</h1>
  <h3>Statistical Data</h3>
  <div class="col-md-12">
    <div class="row well">
      <div class="col-md-6">
        <h4><b>Average Age</b></h4>
      </div>
      <div class="col-md-6">
        <p><%= robot_manager.average_age %> Years</p>
      </div>
    </div>
  </div>
  <div class="well col-md-6">
    <div class="well">
      <h4><b>Departments</b></h4>
      <hr style="width: 50%; color: #D7D7D7; height: 1px; background-color:#D7D7D7;" />
      <% robot_manager.departments.each do |department| %>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <h4><b><%= department %></b></h4>
        </div>
        <div class="col-md-3">
          <p><%= robot_manager.dep(department) %></p>
        </div>
      </div>
      <hr style="width: 75%; color: #D7D7D7; height: 1px; background-color:#D7D7D7;" />
      <% end %>
    </div>
    <div class="well">
      <h4><b>States</b></h4>
      <hr style="width: 50%; color: #D7D7D7; height: 1px; background-color:#D7D7D7;" />
      <% robot_manager.states.each do |state| %>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <h4><b><%= state %></b></h4>
        </div>
        <div class="col-md-3">
          <p><%= robot_manager.state(state) %></p>
        </div>
      </div>
      <hr style="width: 75%; color: #D7D7D7; height: 1px; background-color:#D7D7D7;" />
      <% end %>
    </div>
  </div>
  <div class="well col-md-6">
    <div class="well">
      <h4><b> Year Hired </b></h4>
      <hr style="width: 50%; color: #D7D7D7; height: 1px; background-color:#D7D7D7;" />
      <% robot_manager.years_hired.each do |year| %>
        <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <h4><b><%= year %></b></h4>
          </div>
          <div class="col-md-3">
            <p><%= robot_manager.hired(year) %></p>
          </div>
        </div>
        <hr style="width: 75%; color: #D7D7D7; height: 1px; background-color:#D7D7D7;" />
      <% end %>
    </div>
    <div class="well">
      <h4><b>Cities</b></h4>
      <hr style="width: 50%; color: #D7D7D7; height: 1px; background-color:#D7D7D7;" />
      <% robot_manager.cities.each do |city| %>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <h4><b><%= city %></b></h4>
        </div>
        <div class="col-md-3">
          <p><%= robot_manager.city(city) %></p>
        </div>
      </div>
      <hr style="width: 75%; color: #D7D7D7; height: 1px; background-color:#D7D7D7;" />
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
