<div class="container">
  <div class="row well">
    <div class="container-fluid col-md-4 text-center">
      <p><img src="https://robohash.org/<%= @robot.avatar %>.png"></p>
    </div>
    <div class="col-md-6">
      <div class="lead text-center">
        <h1><%= @robot.name %></h1>
      </div>
      <table class="table table-striped table-bordered table-hover">
        <tr class="info">
          <td>City</td>
          <td><%= @robot.city %></td>
        </tr>
        <tr class="active">
          <td>State</td>
          <td><%= @robot.state %></td>
        </tr>
        <tr class="info">
          <td>Birthday</td>
          <td><%= @robot.birthdate %></td>
        </tr>
        <tr class="active">
          <td>Hire Date</td>
          <td><%= @robot.date_hired %></td>
        </tr>
        <tr class="info">
          <td>Department</td>
          <td><%= @robot.department %></td>
        </tr>
        <tr class="active">
          <td>Age</td>
          <td><%= @robot.age %></td>
        </tr>
      </table>
      <div class="row">
        <div class="col-md-10 col-sm-10">
          <form action="/robots/<%= @robot.id %>/edit">
            <input class="btn-success btn-lg" type="submit" value="     Edit      ">
          </form>
        </div>
        <div class="col-md-2 col-sm-2">
          <form action="/robots/<%= @robot.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input class="btn-danger btn-xs" type="submit" value="Delete">
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
